*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
nav ul{
    display: flex;
    gap: 20px ;


}

nav{
    background-color: blue;
}

nav a{
    text-decoration: none;
    color: black;
}

nav{
    color: black;
}